doctype html
html
  head
    meta(charset='utf-8')
    title Website
    meta(name='description', content='Replace me with a description')
    meta(name='viewport', content='width=device-width')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@hudak_jonathan')
    meta(name='twitter:creator', content='@hudak_jonathan')
    meta(name='twitter:title', content='Sharing Meta Title')
    meta(name='twitter:description', content='Replace me with a description')
    meta(name='twitter:image', content='#')
    meta(property='og:url', content='#')
    meta(property='og:title', content='Sharing Meta Title')
    meta(property='og:description', content='Replace me with a description')
    meta(property='og:image', content='#')
    if !!PRODUCTION
      link(rel='stylesheet', href='/assets/main.css', media='screen')
  body
    h1 Website Title

    include ./content.pug
